//************  Contact ******************************//

.send-button
  margin-top: 15px
  height: 44px
  width: 400px
  overflow: hidden
  color: #fff
  
.button
  width: 400px
  height: 34px
  border: 0px
  display: inline-block
  text-align: center

.btn-primary
  color: #222
  background-color: #fff
  border-block-end-color: #fff 
  &:hover    
    background-color: #dadada
 

@media screen and (max-width: 410px)

  .button
    width: auto

  .send-button
    width: 99%      
  
  