/*****************  CONTAINER - NAVIGATION ******************
.main-header, .nav
  display: flex
  flex-direction: column

.main-header
  padding-top: 2em

/***************** Base - Style ******************

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900")

*
  box-sizing: border-box

ul, li
  margin: 0
  padding: 0
  list-style-type: none

a
  color: #656a6e
  text-decoration: none
  font-weight: 400

.container
  width: 90%
  margin: auto

/* --------------------------
 *  Media Queries
 *---------------------------

@media (min-width: 1200px)
  .container
    width: 1080px

/* --------------------------
 *  Main Styles
 *---------------------------

.main-header, .nav
  heigt: 140px
  display: flex
  flex-direction: column

.main-header
  padding-top: 2em
  margin-top: 5px
  padding-top: 2em
  
.nav
  background-color: white
  margin-top: 1.5em
  margin-bottom: 20px
  padding: 1.5em

  a
    display: block
    color: #797e83
    font-size: 1.125em
    font-weight: 300
    text-align: center
    padding: .4em
    border-bottom: 1px solid #ebecec

    &:hover
      color: #0b0b0b
      border-bottom-color: #52bab3

/* --------------------------
 *  Media Queries
 *---------------------------

@media (min-width: 769px)
  .main-header
    height: 200px
    justify-content: flex-end
    
  .site-logo
    width: 140px

  .nav
    margin-top: 3em
    flex-direction: row
    justify-content: space-around

    a
      border-bottom-color: transparent

@media (max-width: 769px)  
  .main-header
    width: 80%