/************  H E A D E R ******************************/

#header
  width: 915px
  height: 75px
  overflow: hidden
  padding-left: 29px

.logo
  background-image: url(../img/logo.svg)
  background-size: cover
  background-repeat: no-repeat
  height: 33px
  overflow: hidden  

//************ B O D Y- E L E M E N T ******************************/ 
  
section    
  max-width: 995vw
  width: 100%
  position: relative 
  height: auto
  display: flex
  justify-content: center    
  .page-home section
    margin: 0%
       
.page-home 
  width: 990px
  height: 495px  
  margin: 0px auto
  background:
    image: url(../img/box_mitte.png)
    repeat: no-repeat
    size: cover
    position: center
h1 
  font-size: 5em
  box-sizing: border-box
li
  padding: 0
  list-style-type: none

a
  color: #333
  text-decoration: none
  font-weight: 400

.mainPage
  width: 992px
  height: auto
  display: flex    
  padding: 50px
  margin: 30px 124px
  box-sizing: border-box
  border: 1px solid #ccc
  background-color: #fff
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1)

article
  width: 992px
  height: 572px
  padding:  0px 95px
  margin: 30px 30px
  box-sizing: border-box  
  h3
    text-align: center
  &:last-child
    margin-bottom: 0px

.side-right  
  //width: 50%
  line-height: 22px
  padding-top: 20px
  margin: auto    
  p span
    font-style: italic
  ol
    padding: 0px

.side-left
  width: 50%  
  //height: 470px

.side-header    
  height: 106px    
  color: #333
  padding: 12px 0px 20px 8px
  margin: 0 50px 0 17px
  top: -120px
  font-size: 1.1em  
  p
  h3
    //margin-left: 22px
    margin: 0px
    font:
        size: 2.3em
    border-bottom: 1px solid red

.face-img
  height: 120px
  width: 120px
  position: relative
  background-image: url(../img/image-face.jpg)
  background-repeat: no-repeat  
  //top: 85px
  //left: 44px

/************ F O O T E R - E L E M E N T ******************************/ 

footer
  height: 80px
  text-align: center  
  padding-top: 15px   
  background-color: #444444
  color: #fff
  ul
    margin: 0px
  li
    display: inline
    a
      color: #fff
      padding: 0 4px 0 5px
      margin: 0 0 0 0px
      &:hover
        color: #333
        border-bottom: 0px solid #ffffff
        text-decoration: underline
.lockup
  //padding: 10px 0 0 0
  text-align: center
  color: #fff

/************  MEDIA QUERIES ******************************/

@media all and (max-width: 800px)    
  article 
    height: 100%
    margin: 10px
    padding: 0px

  .face-img  
    width: 100%
  
  .side-left  
    height: 40px







@media (min-width: 769px)
  .main-header
    height: 200px
    justify-content: flex-end
  .site-logo
    width: 140px
  .nav
    margin-top: 3em
    flex-direction: row
    justify-content: space-around
    a
      border-bottom-color: transparent  


