.top-rect
  width: 100%
  padding-top: 400px
  position: absolute
  top: 0
  left: 0
  z-index: -1
  background-color: #ddd
  overflow: hidden
  &:after
    content: ""
    display: block
    background: #fff
    height: 400px
    width: 8000px
    position: absolute
    z-index: 1
    bottom: -50%
    left: 50%
    margin-left: -4000px
    transform: rotate(-6deg)

.page-home
  text-align: center
  section
    max-width: 941px
    height: 422px
    margin: 50px auto
    padding-top: 130px
    position: relative
    background-color: rgba(255, 255, 255, 0.7)
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1)
    &:first-child
      background-image: url(../img/box_mitte.png)
      background-size: cover
      background-repeat: no-repeat
      background-position: center
    h1
      color: #fff
      font-weight: 700
      line-height: 1
      margin: 20px 0
      letter-spacing: 1px
  img
    max-width: 100%

li
  padding: 0
  list-style-type: none

a
  color: #333
  text-decoration: none
  font-weight: 400

.container
  width: 90%
  margin: auto

@media (max-width: 769px)
  .top-rect
    display: none
  section
    box-shadow: 0px 0px 0px transparent
  .page-home section
    margin: 0%

@media (min-width: 1200px)
  .container
    width: 1080px

.main-header, .nav
  display: flex
  flex-direction: column

.main-header
  padding-top: 2em

.nav
  background-color: #fff
  margin: 1.5em 0 4.5em 0
  padding: 1.5em
  a
    display: block
    color: #333
    font-size: 1.125em
    font-weight: 300
    text-align: center
    padding: 0.4em
    border-bottom: 1px solid #ddd
    text-decoration: none
    &:hover
      color: #0b0b0b
      text-decoration: none
      border-bottom-color: #39CCCC

@media (min-width: 769px)
  .main-header
    height: 200px
    justify-content: flex-end
  .site-logo
    width: 140px
  .nav
    margin-top: 3em
    flex-direction: row
    justify-content: space-around
    a
      border-bottom-color: transparent

@media (min-width: 769px) and (max-width: 500px)
  .nav a
    font-size: 20px

@media (min-width: 769px)
  article
    width: 100%
    height: 429px
    margin: 0 10px 0 10px
    text-align: center
    border: 1px solid #ddd
    &:last-child
      margin-bottom: 0px

@media (max-width: 769px)
  article
    text-align: center

section
  max-width: 941px
  height: 501px
  position: relative

#wrapper
  margin-top: 79px
  margin-left: auto
  margin-right: auto
  color: #111
  max-width: 980px

@media (max-width: 769px)
  #wrapper
    width: auto
    margin-top: 0px
    margin-left: 0%
    color: #111
    max-width: 100%

#header
  width: 915px
  height: 75px
  overflow: hidden
  padding-left: 29px

@media (max-width: 960px)
  #header
    width: 100%
    height: 162px
    padding: 0px

.logo
  background-image: url(../img/logo.svg)
  background-size: cover
  background-repeat: no-repeat
  height: 33px
  overflow: hidden

@media (max-width: 930px)
  .logo
    background-image: url(../img/logo-small.svg)
    background-size: contain
    display: block
    height: 200px
    width: 200px
    margin: 30px auto
    position: relative

/***************** NAVIGATION ******************

.main
  float: right

nav
  ul
    text-align: right
    display: flex
    flex-wrap: wrap
    margin: 0px auto
    flex: 1
  li:last-child
    border-bottom: none
  a
    text-decoration: none
    color: #111
    display: block
    font-size: 1.3rem
    &:hover
      color: #FF4136
  li
    position: relative
    line-height: 50px
    color: #fff
    text-align: center
    list-style: none
  input
    display: none
    width: 26px
    height: 36px
    background: #484b4b
    color: #fff
    text-align: center
    line-height: 36px
    font-size: 1.6rem
    border-radius: 4px
  label
    display: none
    width: 36px
    height: 36px
    background: #484b4b
    color: #fff
    text-align: center
    line-height: 36px
    font-size: 1.6rem
    border-radius: 4px
    position: absolute
    top: 8px
    right: 8px
    transition: 0.4s
    &:hover
      cursor: pointer
    &:before
      font-family: FontAwesome
      font-size: 24px
      content: ""
      text-align: center

/*************** MEDIA QUERIES *****************
@media only screen and (max-width: 930px)
  .main
    display: block
    background: #484b4b
    width: 100%
    height: 100%
    overflow: auto
    position: fixed
    margin: 2% auto
    padding: 0px
    text-align: center
    float: none
    top: 213px
    font-size: 100%
    font: inherit
    vertical-align: baseline
  nav
    ul
      position: fixed
      transform: translateY(0)
      transition: all 0.5s
      z-index: 1
    li
      flex: none
      width: 100%
      border-bottom: solid 1px #777
    input[type="checkbox"]:checked + ul
      transform: translateY(-170%)
      background: #fff
      transition: all 0.5s
      font: 100 18px Lato, helvetica, sans-serif
      line-height: 35px
    li:first-child
      margin-top: 30px
    a
      color: #fff
      margin: 0 -1px 0 10px
      font-size: 1em
    label
      display: block
    input[type="checkbox"]:checked + ul li:nth-child(1)
      background: #484b4b
      color: #fff

#menu li
  &.current a, a:focus
    color: #FF4136
    border-bottom: 0px solid #ffffff
    text-decoration: none

.mainPage
  max-width: 941px
  height: auto
  display: flex
  border: 1px solid #ccc
  background-color: #fff
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1)

@media (max-width: 930px)
  .mainPage
    width: auto
    float: none
    width: 100%
    margin: 0 8px 0 8px
    margin: 0px
    border: 0px
    box-shadow: none

.side-right
  width: 629px
  height: 453px
  line-height: 22px
  padding-top: 0px
  margin: 40px 0px 0px 91px
  p span
    font-style: italic
  ol
    padding: 0px

@media (max-width: 769px)
  .side-right
    width: 100%
    margin: 0 4% 0 4%

.side-left
  width: 170px
  height: 470px

@media (max-width: 769px)
  .side-left
    display: none
    padding: 0 5px 0 5px

.side-header
  background-image: url(../img/logo-site.svg)
  background-repeat: no-repeat
  background-size: contain
  height: 106px
  width: 150px
  color: #333
  padding: 30px 0px 20px 8px
  margin: 0 50px 0 50px
  top: -120px
  font-size: 1.1em

.face-img
  position: relative
  background-image: url(../img/image-face.jpg)
  background-repeat: no-repeat
  height: 120px
  width: 120px
  top: 18px
  left: 44px

footer
  text-align: center
  padding-top: 4px
  height: auto
  clear: left
  li
    display: inline
    a
      color: #333
      padding: 0 4px 0 5px
      margin: 0 0 0 0px
      &:hover
        color: #333
        border-bottom: 0px solid #ffffff
        text-decoration: underline

@media (max-width: 769px)
  footer
    margin: 0px 80px 0 80px

.lockup
  padding: 10px 0 0 0
  text-align: center
  color: #333

.footer-rect
  height: 129px
  width: 100%
  padding-top: 400px
  position: absolute
  top: 364px
  left: 0
  z-index: -1
  background-color: #ddd
  overflow: hidden
  &:after
    content: ""
    display: block
    background: #fff
    height: 462px
    width: 8000px
    position: absolute
    top: -327px
    z-index: 1
    bottom: -50%
    left: 50%
    margin-left: -4000px
    transform: rotate(-6deg)

.gallery
  width: 100%
  height: 429px
  margin: 71px 30px 30px
  text-align: center
  &:last-child
    margin-bottom: 0px

@media (max-width: 769px)
  .gallery
    height: 100%
    margin-bottom: 20px

.images
  display: flex
  flex-direction: column
  float: left
  height: 80px
  margin: 12px 10px 10px 10px
  color: #333
  text-decoration: none
  line-height: 3px

.galerie a
  &:link
    text-decoration: none
    color: #333
  &:hover
    text-decoration: underline
    color: #333

a
  &:active, &:focus
    text-decoration: underline
    color: #333

.data-image
  float: left
  margin-right: 10px

.galerie, p
  margin-top: 19px

.content
  margin: 0% 10%
  text-align: left

/*# sourceMappingURL=main.css.map
