@use 'sass:color'

//
// Some Useful color Vars via http://clrs.cc/
//

// Base colors
$silver: #d3d2d2
$silver-darker: color-mix(in srgb, $silver, black 3%)

// Cool
$aqua: #7FDBFF
$blue: #0074D9
$navy: #001F3F
$teal: #39CCCC
$green: #2ECC40
$olive: #3D9970
$lime: #01FF70

// Warm
$yellow: #FFDC00
$orange: #FF851B
$red: #FF4136
$fuchsia: #F012BE
$purple: #B10DC9
$maroon: #85144B

// Gray Scale
$white: #fff
$gray: #aaa
$darkgray: #797e83
$black: #111

// Derived colors and theme variables
$link-color: $white
$link-hover: $teal

//$link-hover: color.scale($gray, $lightness: 20%)
