<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='assets/css/base.css')
        title Document
    body
        .container
            h1
                | Not found 
                span :(
            p Sorry, but the page you were trying to view does not exist.
            p It looks like this was the result of either:
            ul
                li a mistyped address
                li an out-of-date link
