doctype html
html(lang='en')
  head
    title Index
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='assets/img/favicon.ico')
    link(rel='stylesheet', href='assets/css/main.css')
  body
    //if lt IE 11
      p.browserupgrade
        | Huch, Sie surfen ja noch mit einem alten Internet Explorer. Schonen Sie Ihre Nerven und steigen Sie auf einen modernen Browser oder den Firefox um! Oder auf Opera! Oder Safari! Aktuelle Browser bekommen sie hier:
        a(href='http://browsehappy.com/') Browsehappy
      style(type='text/css', media='screen').
        .browserupgrade { background-color: yellow; }
    section
      .page-home 
        h1 Hermi Lanza          
        header.main-header
          ul.nav
            li
              a(href='/index.html') Home
            li
              a(href='content/biografie.html') Biografie
            li
              a(href='content/ausstellung.html') Ausstellung
            li
              a(href='content/galerie.html') Galerie
            li
              a(href='content/kontakt.html') Kontakt
            li
              a(href='content/impressum.html') Impressum
          // index
    section
      .mainPage
        .side-left
          .side-header
            h3 Biografie
          .face-img
        .side-right
          //h3 Biografie
          p
            | Ab 1991 intensive Auseinandersetzung mit der Malerei. Seit Jahren regelmäßiger Besuch von
            | Seminaren bei namhaften Künstlern in der Kunstakademie Bad Reichenhall. Ebenso ein für
            | mich wichtiges Seminar bei Prof.Giselbert Hoke - Hortus Niger, Halbenrain.
          br
          span
            | Im Prozess des
            | Schaffens, über den ständigen Abgleich von Vorstellung und Ergebnis, lernte ich, wie man es  noch besser machen kann.
          p  
            h5 Arbeitstechniken:
              p vorwiegend Acryl, Öl, Leimfarbe, Collage, etc,
              // end textbereich             
    section
      .mainPage
        .side-left
          .side-header  
            h3 Ausstellungen         
          .face-img            
        .side-right
          //h3 Ausstellungen
          ol
            li Graz- St. Veit
            li Kulturverein Murvorstadt Graz
            li Hausmannstätten
            li Schloßberg-Uhrturmkasematten, Graz
            li Cafe "Weberhaus", Weiz
            li TEML Eisenbahnmuseum Lieboch
            li Kunst und Wein, Schloß Harrachegg
            li Galerie im Bayrischen Vermessungsamt München
            li regelmäßig "Tag der offenen Tür" in meinem Atelier
          
    section
      .gallery
        .row
            .column
              img(src='../assets/img/galerie/single-1.jpg' style='width:100%')
              img(src='../assets/img/galerie/single-10.jpg' style='width:100%')
              img(src='../assets/img/galerie/single-7.jpg' style='width:100%')
              img(src='../assets/img/galerie/single-4.jpg' style='width:100%')
              img(src='../assets/img/galerie/single-3.jpg' style='width:100%')
              

            .column
              img(src='../assets/img/galerie/single-8.jpg' style='width:100%')              
              img(src='../assets/img/galerie/single-2.jpg' style='width:100%')
              img(src='../assets/img/galerie/single-8.jpg' style='width:100%')
              img(src='../assets/img/galerie/single-6.jpg' style='width:100%')
              img(src='../assets/img/galerie/double-1.jpg' style='width:100%')
              img(src='../assets/img/galerie/single-4.jpg' style='width:100%')

            .column
              img(src='../assets/img/galerie/single-9.jpg' style='width:100%')
              img(src='../assets/img/galerie/double-2.jpg ' style='width:100%')
              img(src='../assets/img/galerie/single-7.jpg' style='width:100%')
              img(src='../assets/img/galerie/single-8.jpg' style='width:100%')
              img(src='../assets/img/galerie/single-4.jpg' style='width:100%')
              img(src='../assets/img/galerie/double-2.jpg ' style='width:100%')
             
            .column
              img(src='../assets/img/galerie/double-2.jpg ' style='width:100%')
              img(src='../assets/img/galerie/single-1.jpg' style='width:100%')
              img(src='../assets/img/galerie/single-2.jpg' style='width:100%')
              img(src='../assets/img/galerie/double-1.jpg' style='width:100%')       
              
    section       
      .contact   
        h3 Das ist ein Test     
        <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/mrglkqby" method="post">
          <fieldset id="fs-frm-inputs">
          <label for="full-name">Full Name</label>
          <input type="text" name="name" id="full-name" placeholder="First and Last" required="">            
          <label for="message">Message</label>
          <textarea rows="5" name="message" id="message" placeholder="Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla nullam quis risus." required=""></textarea>
          <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
          </fieldset>
          <input type="submit" value="Submit">
        </form> 
      
    section  
      article
          h3 Impressum          
          p 
            | Tel.:  03463 2397
            | Tel. Händy: 0664-73511141
            | E- Mail: h.lanza@gmx.at
            | Internet: www.hermi-lanza.at
            | Inhaltlich Verantwortlicher:Thomas Lanza          
            p 
            strong Haftung für Inhalte
            p | Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für  die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir  jedoch keine  Gewähr übernehmen.
            p
            strong Haftung für Links
            p
              | Diese Webseite enthält Links zu externen Webseiten Dritter, auf deren  Inhalte wir keinen Einfluss haben. Deshalb
              | können wir für diese fremden  Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten  Seiten ist stets
              | der jeweilige Anbieter oder Betreiber der Seiten  verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der  Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte  waren zum Zeitpunkt der Verlinkung nicht erkennbar.  Bei bekannt werden  von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
            p
            //strong Copyright
              p
                | Jede Vervielfältigung oder Weiterverbreitung in jedem Medium als Ganzes oder in Teilen bedarf der schriftlichen Zustimmung
              p    
    footer
      ul.footer
        li
          a(href='/index.html') Home
          | |
        li
          a(href='biografie.html') Biografie
          | |
        li
          a(href='ausstellung.html') Ausstellung
          | |
        li
          a(href='galerie.html') Galerie
          | |
        li
          a(href='kontakt.html') Kontakt
          | |
        li
        li
          a(href='impressum.html') Impressum
        li
          br
          .lockup   © Hermi Lanza Alle Rechte vorbehalten.
      .footer-rect
    // end. wrapper
  script(src='assets/js/jquery-2.1.4.min.js')
  script(src='assets/js/functions.js', type='text/javascript')
