<!DOCTYPE html>
html(lang="en")
head
  title DevTips Starter Kit
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
body
  .page-home
    section
      h1.page-title DevTips<br>Starter Kit
      p Ground zero for your next project.           
    section        
      article
        p Brought to you by
        .name-lockup
          img.avatar(src="https://yt3.ggpht.com/-47U43a3eNW0/AAAAAAAAAAI/AAAAAAAAAAA/fWgb7mKcn6k/s176-c-k-no/photo.jpg")
          .name
            strong Travis Neilson
            br
            a(href="https://twitter.com/DevTipsShow") @DevTipsShow
    section
      h2 hallo        

  script(src="./vendors/jquery/dist/jquery.min.js")
  script(src="./assets/js/app.js")
