doctype html
html(lang='en')
  head
    title Index
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='assets/img/favicon.ico')
    link(rel='stylesheet', href='assets/css/main.css')
  body
    //if lt IE 11
      p.browserupgrade
        | Huch, Sie surfen ja noch mit einem alten Internet Explorer. Schonen Sie Ihre Nerven und steigen Sie auf einen modernen Browser oder den Firefox um! Oder auf Opera! Oder Safari! Aktuelle Browser bekommen sie hier:
        a(href='http://browsehappy.com/') Browsehappy
      style(type='text/css', media='screen').
        .browserupgrade { background-color: yellow; }
    section
      .page-home 
        h1 Hermi Lanza          
        header.main-header
          ul.nav
            li
              a(href='/index.html') Home
            li
              a(href='content/biografie.html') Biografie
            li
              a(href='content/ausstellung.html') Ausstellung
            li
              a(href='content/galerie.html') Galerie
            li
              a(href='content/kontakt.html') Kontakt
            li
              a(href='content/impressum.html') Impressum
        // index
    section
      .mainPage
        .side-left
          .side-header
          .face-img
        .side-right
          h3 Biografie
          p
            | Ab 1991 intensive Auseinandersetzung mit der Malerei. Seit Jahren regelmäßiger Besuch von
            | Seminaren bei namhaften Künstlern in der Kunstakademie Bad Reichenhall. Ebenso ein für
            | mich wichtiges Seminar bei Prof.Giselbert Hoke - Hortus Niger, Halbenrain.
          br
          span
            | Im Prozess des
            | Schaffens, über den ständigen Abgleich von Vorstellung und Ergebnis, lernte ich, wie man es  noch besser machen kann.
          p  
          .article
            h5 Arbeitstechniken:
              p vorwiegend Acryl, Öl, Leimfarbe, Collage, etc,
              // end textbereich
          .article
            h5 Ausstellungen
            a(href='http://www.hermi-lanza.at/content/ausstellung.html') MEHR ERFAHREN >>
                

        //Ausstellung    
    section
      .mainPage
        .side-left
          .side-header
          .face-img
        .side-right
          h3 Ausstellungen
          .articel
            ol
              li Graz- St. Veit
              li Kulturverein Murvorstadt Graz
              li Hausmannstätten
              li Schloßberg-Uhrturmkasematten, Graz
              li Cafe "Weberhaus", Weiz
              li TEML Eisenbahnmuseum Lieboch
              li Kunst und Wein, Schloß Harrachegg
              li Galerie im Bayrischen Vermessungsamt München
              li regelmäßig "Tag der offenen Tür" in meinem Atelier
          p  
            .textbereich
              h5 Biografie
              a(href='http://www.hermi-lanza.at/content/biografie.html') MEHR ERFAHREN  >>
            p      
    section
      .mainPage
        .gallery
          a.images(href='../assets/img/galerie/image/image-69.jpg', data-lightbox='image-set', data-title='o.T. 80x80cm')
            img(src='../assets/img/galerie/image/thumb-69.jpg', alt='alternative Erklärung')
          a.images(href='../assets/img/galerie/image/image-67.jpg', data-lightbox='image-set', data-title='o.T.')
            img(src='../assets/img/galerie/image/thumb-67.jpg', alt='alternative Erklärung')
          a.images(href='../assets/img/galerie/image/image-70.jpg', data-lightbox='image-set', data-title='o.T. 80x80cm')
            img(src='../assets/img/galerie/image/thumb-70.jpg', alt='alternative Erklärung')
          a.images(href='../assets/img/galerie/image/image-58.JPG', data-lightbox='image-set', data-title='o.T. 60x70cm')
            img(src='../assets/img/galerie/image/thumb-58.jpg', alt='alternative Erklärung')
          a.images(href='../assets/img/galerie/image/image-62.jpg', data-lightbox='image-set', data-title='o.T. 80x80cm')
            img(src='../assets/img/galerie/image/thumb-62.jpg', alt='alternative Erklärung')
          a.images(href='../assets/img/galerie/image/image-65.jpg', data-lightbox='image-set', data-title='o.T.')
            img(src='../assets/img/galerie/image/thumb-65.jpg', alt='alternative Erklärung')
          a.images(href='../assets/img/galerie/image/image-64.jpg', data-lightbox='image-set', data-title='o.T. 100x120cm')
            img(src='../assets/img/galerie/image/thumb-64.jpg', alt='alternative Erklärung')
          a.images(href='../assets/img/galerie/image/image-68.jpg', data-lightbox='image-set', data-title='o.T. 80x80cm')
            img(src='../assets/img/galerie/image/thumb-68.jpg', alt='alternative Erklärung')
          a.images(href='../assets/img/galerie/image/image-66.jpg', data-lightbox='image-set', data-title='o.T. 80x100cm')
            img(src='../assets/img/galerie/image/thumb-66.jpg', alt='alternative Erklärung')
          a.images(href='../assets/img/galerie/image/image-63.jpg', data-lightbox='image-set', data-title='o.T. 80x100cm')
            img(src='../assets/img/galerie/image/thumb-63.jpg', alt='alternative Erklärung')
          a.images(href='../assets/img/galerie/image/image-61.jpg', data-lightbox='image-set', data-title='o.T. 70x100cm')
            img(src='../assets/img/galerie/image/thumb-61.jpg', alt='alternative Erklärung')
          a.images(href='../assets/img/galerie/image/image-60.jpg', data-lightbox='image-set', data-title='o.T. 100x120cm')
            img(src='../assets/img/galerie/image/thumb-60.jpg', alt='alternative Erklärung')
          a.images(href='../assets/img/galerie/image/image-71.jpg', data-lightbox='image-set', data-title='o.T. 60x90cm')
            img(src='../assets/img/galerie/image/thumb-71.jpg', alt='alternative Erklärung')
          a.images(href='../assets/img/galerie/image/image-72.jpg', data-lightbox='image-set', data-title='o.T. 70x100cm')
            img(src='../assets/img/galerie/image/thumb-72.jpg', alt='alternative Erklärung')
          a.images(href='../assets/img/galerie/image/image-78.jpg', data-lightbox='image-set', data-title='o.T. 100x120cm')
            img(src='../assets/img/galerie/image/thumb-78.jpg', alt='alternative Erklärung')
          a.images(href='../assets/img/galerie/image/image-74.jpg', data-lightbox='image-set', data-title='o.T. 100x50cm')
            img(src='../assets/img/galerie/image/thumb-74.jpg', alt='alternative Erklärung')
          a.images(href='../assets/img/galerie/image/image-75.jpg', data-lightbox='image-set', data-title='o.T. 80x80cm')
            img(src='../assets/img/galerie/image/thumb-75.jpg', alt='alternative Erklärung')
          // alt
            a.images(href='../assets/img/galerie/bilder/image-38.jpg', data-lightbox='image-set', data-title='O.T. 80x120cm Mischtechnik')
                img.data-image(src='../assets/img/galerie/thumb/thumb-35.jpg', alt='')
              a.images(href='../assets/img/galerie/bilder/image-39.jpg', data-lightbox='image-set', data-title='o.T. 50x60cm Mischtechnik')
                img.data-image(src='../assets/img/galerie/thumb/thumb-36.jpg', alt='')
              a.images(href='../assets/img/galerie/bilder/No21_04b.jpg', data-lightbox='image-set', data-title='o.T. 80x100cm Mischtechnik')
                img.data-image(src='../assets/img/galerie/thumb/No21_04a.jpg', alt='')
              a.images(href='../assets/img/galerie/bilder/No25_08b.jpg', data-lightbox='image-set', data-title='o.T.')
                img(src='../assets/img/galerie/thumb/No25_08a.jpg', alt='alternative Erklärung')
              //
                <a class="images" href="../assets/img/galerie/bilder/image-43.jpg" data-lightbox="image-set" data-title="o.T."><img
                src="../assets/img/galerie/thumb/thumb-40.jpg" alt="alternative Erklärung"></a>
              a.images(href='../assets/img/galerie/image/image-77.jpg', data-lightbox='image-set', data-title='o.T. 200x160cm')
                img(src='../assets/img/galerie/image/thumb-77.jpg', alt='alternative Erklärung')
            // End gallery 
                
              
    section       
      .mainPage
        .side-left
          .side-header
          .face-img
        .side-right
          article
            h3(style='text-align:center') Kontakt
                h5
                  img(src='assets/img/ico_pin.svg', alt='ico_pin', width='17', height='17')
                  | Adresse
                li Ettendorf 30
                li 8510 Stainz
                hr              
                h5
                  img(src='assets/img/ico_phone.svg', alt='ico_phone', width='17', height='17')
                  |  Telefon
                li 0664-73511141
                li
                  hr            
                  h5
                    img(src='assets/img/ico_chat.svg', alt='ico_chat', width='17', height='17')
                    |  E-Mail
                li E-Mail: h.lanza@gmx.at
                li
                  hr                  
                
              
    section  
      .mainPage
        .side-left
          .side-header
          .face-img
        .side-right
          h3 Impressum          
          p 
            | Tel.:  03463 2397
            | Tel. Händy: 0664-73511141
            | E- Mail: h.lanza@gmx.at
            | Internet: www.hermi-lanza.at
            | Inhaltlich Verantwortlicher:Thomas Lanza          
            p 
            strong Haftung für Inhalte
            p | Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für  die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir  jedoch keine  Gewähr übernehmen.
            p
            strong Haftung für Links
            p
              | Diese Webseite enthält Links zu externen Webseiten Dritter, auf deren  Inhalte wir keinen Einfluss haben. Deshalb
              | können wir für diese fremden  Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten  Seiten ist stets
              | der jeweilige Anbieter oder Betreiber der Seiten  verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der  Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte  waren zum Zeitpunkt der Verlinkung nicht erkennbar.  Bei bekannt werden  von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
            p
            //strong Copyright
              p
                | Jede Vervielfältigung oder Weiterverbreitung in jedem Medium als Ganzes oder in Teilen bedarf der schriftlichen Zustimmung
              p    
    footer
      ul.footer
        li
          a(href='/index.html') Home
          | |
        li
          a(href='biografie.html') Biografie
          | |
        li
          a(href='ausstellung.html') Ausstellung
          | |
        li
          a(href='galerie.html') Galerie
          | |
        li
          a(href='kontakt.html') Kontakt
          | |
        li
        li
          a(href='impressum.html') Impressum
        li
          br
          .lockup   © Hermi Lanza Alle Rechte vorbehalten.
      .footer-rect
    // end. wrapper
  script(src='assets/js/jquery-2.1.4.min.js')
  script(src='assets/js/functions.js', type='text/javascript')
