@use "../1-tools/vars"

/************  G A L L E R Y ******************************/


*
  box-sizing: border-box

// Gallery Heading Style

#gallery
  max-width: 100%
  width: 100%
  height: auto
  position: relative
  padding: 0% 5% 10% 5%
  background: #f8f9fa
  background-size: cover
  h2
    font-size: 2.5rem
    font-weight: 300
    color: #666
    position: relative
    display: inline-block
    text-decoration: underline #39CCCC 2px
    text-decoration-style: wavy
    text-underline-offset: 8px
    text-align: center
    margin-bottom: 40px
    position: relative
    &::after
      content: ''
      position: absolute
      bottom: -8px
      left: 0
      width: 100%
      height: 3px
      border-radius: 2px

